name: Check OIIX NOTAMs

on:
  schedule:
  - cron: '*/6 * * * *'
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install requests
        run: pip install requests

      - name: Run bot script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py

      - name: Save state
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          
          if [ -f state.json ]; then
            git add state.json
          fi

          if [ -f notam_log.txt ]; then
            git add notam_log.txt
          fi
          
          if [ -f run_history.json ]; then
            git add run_history.json
          fi
          
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update state and logs" && git push)
